<!DOCTYPE html>

<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta charset="utf-8" />
  <title>ONET</title>
  <link rel="icon" href="https://raw.githubusercontent.com/Ayness/Onet/master/images/ONET.png">
  <meta name="description" content="overview &amp; stats" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
  <link rel="stylesheet" href="https://cdn.rawgit.com/Ayness/Onet/89298508/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://cdn.rawgit.com/Ayness/Onet/cb6f4cf5/font-awesome/4.2.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="https://rawgit.com/Ayness/Onet/master/css/form.css" />
  <link rel="stylesheet" href="https://cdn.rawgit.com/Ayness/Onet/89298508/fonts/fonts.googleapis.com.css" />
  <link rel="stylesheet" href="https://rawgit.com/Ayness/Onet/master/css/ace.min.css" class="ace-main-stylesheet" id="main-ace-style" />
  <link rel="stylesheet" href="https://rawgit.com/Ayness/Onet/master/css/sweet.css">
  <link rel="stylesheet" href="https://rawgit.com/Ayness/Onet/master/css/materializeINES.css">
  <link rel="stylesheet" href="https://rawgit.com/JeremyFagis/dropify/master/dist/css/dropify.css">
  <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>
  <script src="https://rawgit.com/Ayness/Onet/master/js/ace-extra.min.js"></script>
  <script src="https://rawgit.com/JeremyFagis/dropify/master/dist/js/dropify.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://rawgit.com/Ayness/Onet/master/js/jquery-ui.custom.min.js"></script>
  <script src="https://rawgit.com/Ayness/Onet/master/js/jquery.ui.touch-punch.min.js"></script>
  <script src="https://rawgit.com/Ayness/Onet/master/js/jquery.easypiechart.min.js"></script>
  <script src="https://rawgit.com/Ayness/Onet/master/js/jquery.sparkline.min.js"></script>
  <script src="https://rawgit.com/Ayness/Onet/master/js/jquery.flot.min.js"></script>
  <script src="https://rawgit.com/Ayness/Onet/master/js/jquery.flot.pie.min.js"></script>
  <script src="https://rawgit.com/Ayness/Onet/master/js/jquery.flot.resize.min.js"></script>
  <script src="https://rawgit.com/Ayness/Onet/master/js/ace-elements.min.js"></script>
  <script src="https://rawgit.com/Ayness/Onet/master/js/ace.min.js"></script>
  <script src="http://malsup.github.com/jquery.form.js"></script>
</head>

<body class="no-skin">
  <!-- fixed navbar container-->
  <div id="navbar" class="navbar navbar-default">
    <script type="text/javascript">
      try {
        ace.settings.check('navbar', 'fixed')
      } catch (e) {}
    </script>

    <div class="navbar-container" id="navbar-container">
      <button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler" data-target="#sidebar">
                <span class="sr-only">Toggle sidebar</span>

                <span class="icon-bar"></span>

                <span class="icon-bar"></span>

                <span class="icon-bar"></span>
            </button>

      <div class="navbar-header pull-left">
        <a href="/home" class="navbar-brand">
                    <small>
                            <img src="https://raw.githubusercontent.com/Ayness/Onet/master/images/ONET.png" width="70" height="70"/>
                    </small>
                </a>
      </div>
      <div class="navbar-header pull-left">
        <small>
                        <MARQUEE WIDTH=1000 HEIGHT=100% behavior="alternate">
    <font size="3" color="red">  <h1> <span class="marquee"> ORGANISATION NATIONALE DE L'ENFANCE TUNISIENNE </span></h1></font>
                        </MARQUEE>
                      </small>
      </div>
      <br>

      <div class="navbar-buttons navbar-header pull-right" role="navigation">
        <ul class="nav ace-nav">

          </li>

          <li class="light-blue">
            <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                            <img class="nav-user-photo" src=https://raw.githubusercontent.com/Ayness/Onet/master/images/inconnu.png />

                            <span class="user-info">
                                            <h5> <%= user.firstName %></h5>
                                                                         </span>

                            <i class="ace-icon fa fa-caret-down"></i>
                        </a>

            <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">

              <li>
                <a href="/home">
                                    <i class="fa fa-home"></i> Home
                                </a>
              </li>
              <li>
                <a href="/adhProfile">
                                    <i class="fa fa-user"></i> Mon Profile
                                </a>
              </li>
              <li class="divider"></li>

              <li>
                <a href="/logout">
                                    <i class="fa fa-sign-out"></i> Logout
                                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <!-- /fixed navbar container -->
  </div>

  <div class="main-container" id="main-container">
    <script type="text/javascript">
      try {
        ace.settings.check('main-container', 'fixed')
      } catch (e) {}
    </script>

    <div id="sidebar" class="sidebar                  responsive">
      <script type="text/javascript">
        try {
          ace.settings.check('sidebar', 'fixed')
        } catch (e) {}
      </script>
      <!-- houni -->
      <div class="sidebar-shortcuts" id="sidebar-shortcuts">
        <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
          <button class="btn btn-success">
                        <a href="/home"><i class="fa fa-home" aria-hidden="true"></i>
                    </button>

          <button class="btn btn-info">
                        <a href="/info"><i class="fa fa-info-circle" aria-hidden="true"></i>
                    </button>

          <button class="btn btn-warning">
                        <a href="/location"><i class="fa fa-map-marker" aria-hidden="true"></i></a>
                    </button>
          <button class="btn btn-info">
                        <a href="#" data-activates="slide-out" class="button-collapse"><i class="fa fa-bars" aria-hidden="true"></i></a>
                    </button>

        </div>
      </div>
      <!-- /.sidebar-shortcuts -->
      <% if(user.hasCin == 0){ %>
        <div id="cinAlert" class="alert alert-danger"> Completez votre profile, la photo de votre carte d'identité nationale est manquante </div>
        <% } %>

          <!--  Menu droit -->

          <ul id="slide-out" class="side-nav" style="transform: translateX(0px);">
            <li>
              <div class="userView">
                <div class="background">
                  <img src="https://raw.githubusercontent.com/Ayness/Onet/master/images/ONET1.jpg" width="450" height="200">
                </div>
                <a href="#!user"><img class="circle" src="https://raw.githubusercontent.com/Ayness/Onet/master/images/ONET.png" width="30" height="30">
                        </a>
                <a href="/home"><span class="green-text name">ONET Tunisie </span></a>
                <a href="http://www.onet-tunisie.com/web/fr/home.asp"><span class="white-text email">ORGANISATION NATIONALE DE L'ENFANCE TUNISIENNE </span></a>
              </div>
            </li>
            <li><a href="/home">Actualité</a>
            </li>
            <li><a href="/adhProfile">Mon Profil</a>
            </li>
            <li><a href="/history">Mon Historique</a>
            </li>
            <li><a href="/internshipsToSupervise">Les Stages à Encadrés</a>
            </li>
            <hr>
          </ul>



          <!-- /.nav-list -->
          <!--/ MEnu droit -->
          <div>
            <img class="materialboxed" data-caption="ORGANISATION NATIONALE DE L'ENFANCE TUNISIENNE" width="190" src="https://rawgit.com/Ayness/Onet/master/images/17523418_1445042545548123_3435822997402926687_n.jpg">
          </div>
          <div class="w3-content w3-section" style="max-width:500px">
            <img class="mySlides" src="https://rawgit.com/Ayness/Onet/master/images/16508804_10210887172486789_6521258900098156613_n.jpg" style="width:100%">
            <img class="mySlides" src="https://rawgit.com/Ayness/Onet/master/images/17424813_1896948157184951_1643972327818026501_n.jpg" style="width:100%">
            <img class="mySlides" src="https://rawgit.com/Ayness/Onet/master/images/13221531_1143323192386728_4364656795041133984_n.jpg" style="width:100%">
            <img class="mySlides" src="https://rawgit.com/Ayness/Onet/master/images/17903666_1464341023618275_7803879645754847932_n.jpg" style="width:100%">
            <img class="mySlides" src="https://rawgit.com/Ayness/Onet/master/images/18300888_1491007034285007_7301623349512661743_n.jpg" style="width:100%">
            <img class="mySlides" src="https://rawgit.com/Ayness/Onet/master/images/18528066_1506634972722213_1715750680215753112_n.jpg" style="width:100%">
            <img class="mySlides" src="https://rawgit.com/Ayness/Onet/master/images/18664236_1509333265785717_3577570800882301313_n.jpg" style="width:100%">
            <img class="mySlides" src="https://rawgit.com/Ayness/Onet/master/images/Bureau%20National.jpg" style="width:100%">
          </div>
          <script>
            var myIndex = 0;
            carousel();

            function carousel() {
              var i;
              var x = document.getElementsByClassName("mySlides");
              for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
              }
              myIndex++;
              if (myIndex > x.length) {
                myIndex = 1
              }
              x[myIndex - 1].style.display = "block";
              setTimeout(carousel, 2000); // Change image every 2 seconds
            }
          </script>
          <script type="text/javascript">
            try {
              ace.settings.check('sidebar', 'collapsed')
            } catch (e) {}
          </script>
    </div>

    <div class="main-content">
      <div class="main-content-inner">

        <div class="breadcrumbs" id="breadcrumbs">
          <script type="text/javascript">
            try {
              ace.settings.check('breadcrumbs', 'fixed')
            } catch (e) {}
          </script>

          <ul class="breadcrumb">
            <li>
              <i class="ace-icon fa fa-home home-icon"></i>
              <a href="/home">Home</a>
            </li>
            <li>
              <i class="fa fa-user" aria-hidden="true"> Mon Profil</i>
            </li>
          </ul>
          <!-- /.breadcrumb -->

          <!-- tabs -->
          <div class="row">
            <div class="col s12">
              <ul class="tabs">
                <li class="tab col s4">
                  <a target="_self" href="/home">Actualité</a>
                </li>
                <li class="tab col s4">
                  <a target="_self" href="/adhProfile" class="active">Mon Profil</a>
                </li>
                <li class="tab col s4">
                  <a target="_self" href="/history">Mon Historique</a>
                </li>
                <li class="tab col s4">
                  <a target="_self" href="/internshipsToSupervise">Les Stages à Encadrés</a>
                </li>
              </ul>
            </div>
          </div>
          <!-- /.tabs -->

        </div>

        <!-- History Section -->
        <section>
          <div class="headerEvent">
            <div class="circle"></div>
            <h1> Mon Profil </h1>
          </div>
          <div class="line"></div>
          <div id="contentAdherent">
          </div>

        </section>



        <div class="footer">
          <div class="footer-inner">
            <div class="footer-content">
              <span class="bigger-120">
                            <span class="blue bolder">ONET</span> &copy; 2016-2017
              </span>

              &nbsp; &nbsp;
              <span class="action-buttons">
                            <a href="https://twitter.com/onettunisie">
                                    <i class="ace-icon fa fa-twitter-square blue bigger-150"></i>
                            </a>

                            <a href="https://www.facebook.com/onet.tn?ref=br_rs">
                                    <i class="ace-icon fa fa-facebook-square text-primary bigger-150"></i>
                            </a>

                            <a href="http://www.onet-tunisie.com">
                                    <img src="https://raw.githubusercontent.com/Ayness/Onet/master/images/ONET.png" width="20" height="20" style="margin-top:-5px"/>
                            </a>
                    </span>
            </div>
          </div>
        </div>
        <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
                    <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
                </a>
      </div>
      <script>
        $(document).ready(function() {
          $.ajax({
            url: "http://localhost:8081/adherent/<%= user.adhID %>",
            type: "GET",
            Accept: "application/json",
            success: function(resultdata) {
              // console.log(resultdata);
              $.each(resultdata, function(k, v) {
                var id = v.adhID;
                var nationalIDcard = v.nationalIDcard;
                var firstName = v.firstName;
                var lastName = v.lastName;
                var birthDate = v.birthDate;
                var email = v.email;
                var address = v.address;
                var paid = v.paid;
                var locOfficeID = v.endDate;

                var contentdiv = document.getElementById("contentAdherent");
                var object = document.createElement("div");
                object.id = 'o' + id;
                object.classList.add('object');
                var datea = document.createElement("div");
                datea.classList.add('date');
                var circle = document.createElement("div");
                circle.classList.add('circle');
                var context = document.createElement("div");
                context.classList.add('context');
                var active = "Je ne suis pas Active";
                if (paid == 1) active = "Je suis Active";
                object.appendChild(datea);
                object.appendChild(circle);
                object.appendChild(context);
                datea.innerHTML = active;
                <% if(user.hasCin == 0){ %>
                var sb = "<button class='btn waves-effect waves-light' type='submit' name='action'>Submit</button>";
                var fu =
                  "<form ref='uploadForm' id='uploadForm'  enctype='multipart/form-data' action='http://localhost:8081/submitcin/<%= user.adhID %>' method='post'> <div class='file-field input-field'> <div class='btn'><span>File</span><input type='file' id='cinfile' name='cinfile'></div><div class='file-path-wrapper'><input class='file-path validate' type='text'></div></div>" +
                  sb + "</form>";
                context.innerHTML = "<b><h4><font color=#e33d31>" + firstName + " " + lastName + "</font></b></h4><br /><div class='bandeau'><b> Carte D'identité Nationale : </b>" + nationalIDcard + "<br><b>Date de Naissance : </b>" +
                  birthDate + "<br><b> Votre Adresse : </b>" + address + "<br><b>Votre Email : </b>" + email + "</br></br><center>" + fu + "<div id='cinimg'></div><center/><br> <br>";
                contentdiv.appendChild(object);
                $('#uploadForm').on("submit", (e) => {
                  e.preventDefault();
                  $('#uploadForm').ajaxSubmit({
                    error: function(xhr) {
                      console.log(xhr.status);
                      return false;
                    },
                    success: function(response) {
                      $('#uploadForm').fadeOut();
                      $('#cinAlert').fadeOut();
                      var cinImg = "<img src='http://localhost:8000/cin/<%= user.adhID %><%= user.cinExt %>' height='285' width='450'>";
                      $(cinImg).hide().appendTo("#cinimg").fadeIn(1000);
                      Materialize.toast('<span>Votre CIN a été mise à jour!</span>', 5000);
                      <% user.hasCin = 1 %>
                      console.log(response);
                      return false;
                    }
                  });
                })
                <% }
                                else {%>
                var cinImg = "<img src='http://localhost:8000/cin/<%= user.adhID %><%= user.cinExt %>' height='285' width='450'>";
                context.innerHTML = "<b><h4><font color=#e33d31>" + firstName + " " + lastName + "</font></b></h4><br /><div class='bandeau'><b> Carte D'identité Nationale : </b>" + nationalIDcard + "<br><b>Niveau :</b> <%=user.level%><br><b>Date de Naissance : </b>" +
                  birthDate + "<br><b> Votre Adresse : </b>" + address + "<br><b>Votre Email : </b>" + email + "</br></br><center><div id='cinimg'>" + cinImg + "</div></center><br> <br>";
                contentdiv.appendChild(object);
                <% } %>



              });
            }


          });


        });
      </script>
      <!-- inline scripts related to this page -->
      <script type="text/javascript">
        jQuery(function($) {
          // Initialize tabs
          $(document).ready(function() {
            $('ul.tabs').tabs();
          });
          // Initialize collapse button
          $(".button-collapse").sideNav();
          // Initialize collapsible (uncomment the line below if you use the dropdown variation)
          $('.collapsible').collapsible();
          $('.button-collapse').sideNav({
            menuWidth: 300, // Default is 300
            edge: 'left', // Choose the horizontal origin
            closeOnClick: true, // Closes side-nav on <a> clicks, useful for Angular/Meteor
            draggable: true // Choose whether you can drag to open on touch screens
          });
        })
      </script>
</body>

</html>
